{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gachabros{% endblock %}</title>
        <link href="{% static 'dist/styles.css' %}" rel="stylesheet" />
    </head>
    <body class="bg-gray-100">
        <!-- Navbar -->
        {% csrf_token %} {% include 'partials/navbar.html' %}

        <!-- Main content Outlet -->
        <main class="max-w-4xl mx-auto py-6 px-6">
            <div class="w-full max-w-5xl px-4">
                {% block content %}
                <!-- Content from child templates goes here -->
                {% endblock %}
            </div>
        </main>

        <!-- Optional footer -->
        {% include 'partials/footer.html' %}
    </body>
</html>
